.node{
    width: 25px;
    height:25px;
    border:1px solid grey;
    display:inline-block;
    -webkit-user-select: none;
}
.node-start{
    background-color: green;
}
.node-finish{
    background-color: red;
}

.node-wall{
    background-color: rgb(52, 3, 3);
}